<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352914769563-1ddk7r83ghiaklo8sq90mb7pvrek1k6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352914769563-1ddk7r83ghiaklo8sq90mb7pvrek1k6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBmtLCGQGV-kepKB6kChNUR2ZwASy6gfYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>352914769563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vault</string>
	<key>PROJECT_ID</key>
	<string>protag-vault</string>
	<key>STORAGE_BUCKET</key>
	<string>protag-vault.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352914769563:ios:347b414d1fb6c3035b283e</string>
</dict>
</plist>